@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overflow-x: hidden;
  }
  
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

/* Custom utilities for preventing overflow */
@layer utilities {
  .no-overflow-x {
    overflow-x: hidden;
  }
}
